body {
  background: url("http://www.italia.it/fileadmin/src/img/cluster_gallery/mangiare_bere/la_pizza/_0004_pizza_focaccia.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.container-margin {
  margin-left: 100px;
  margin-right: 100px;
}

fieldset {
  text-align: center;

  padding: 20px;
  background-color: rgba(238,251,227,0.62);
  box-shadow: 0 0 50px 1px;
  border-radius: 10px;
}

.center {
  margin: auto;
  width: 270px;
}

#ingredients-block, #result-block  {
  display: none;
}

input {
  background-color: rgba(217, 83, 79, 0.09) !important;
  color: rgb(171, 7, 7) !important;
}

select[multiple] {
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black !important;
}

option:checked {
  font-style: oblique;
}

.inline {
  display: inline-block;
  margin-right: 10px;
}
