body {
  background: url("../img/pizza_focaccia.jpg")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.container-margin {
  margin-left: 100px;
  margin-right: 100px;
}

fieldset {
  text-align: center;

  padding: 20px;
  background-color: rgba(238,251,227,0.62);
  box-shadow: 0 0 50px 1px;
  border-radius: 10px;
}

.cost {
  text-align: right;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 270px;
}

#ingredients-block, #result-block  {
  display: none;
}

input {
  background-color: rgba(217, 83, 79, 0.09) !important;
  color: rgb(171, 7, 7) !important;
}

select[multiple], .size-select {
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black !important;
}

option:checked {
  font-style: oblique;
}

.inline {
  display: inline-block;
  margin-right: 10px;
}

h1 {
  font-size: 72px;
  font-family: 'Allura', cursive;
  text-align: center;
  color: #9C0707;
}

input, h2{
  font-family: 'Lobster Two', cursive;
  font-size: 22px !important;
  font-style: italic;
}
